/*primary text colors*/
$t-w-cl: #fff;
$t-b-cl: #000;
/*primary bg colors*/
$bg-w-cl: #fff;
$bg-b-cl: #000;
/*main color design*/
$main-cl: #e4271a;
$second-cl: #61777c;
$third-cl: #f6f8fa;
$four-cl: #f8f8f8;
$five-cl: #a2acb7;
$red-cl: #d32d28;
$border-cl: #e1e1e1;
$desc-cl: rgba(
	$color: $t-b-cl,
	$alpha: 1,
);
/*time transition*/
$t1: 0.3s;
$t2: 0.6s;
$t3: 1s;
$cubic1: cubic-bezier(0.83, 0.135, 0.02, 1.015);
$cubic2: cubic-bezier(0.63, -0.02, 0.24, 1.12);
/*break points - desktop frist*/
$bk-1600: 1600px;
$bk-1440: 1440px;
$bk-1280: 1280px;
$bk-1200: 1200px;
$bk-992: 992px;
$bk-768: 768px;
$bk-600: 600px;
/*BREAK POINTS - BK - 1*/
$bk-d-1600: $bk-1600 - 1;
$bk-d-1440: $bk-1440 - 1;
$bk-d-1280: $bk-1280 - 1;
$bk-d-1200: $bk-1200 - 1;
$bk-d-992: $bk-992 - 1;
$bk-d-768: $bk-768 - 1;
$bk-d-600: $bk-600 - 1;
/*font families*/
$fz-base: 10px;
$font-body: 'SFProText', sans-serif;
$fz-body: 1.6rem;
$lh-body: 1.4;
$cl-body: $second-cl;
$font-title: 'SFProText', sans-serif;
/*width*/
$w-scroll: 0px;
$max-width: 100%;
$container-full-width: 192rem;
$container-width: 147rem;
$padding: 1.5rem;
