.about {
	overflow: hidden;
	.cols {
		margin-top: 0;
		margin-bottom: 0;
	}
	.col {
		width: 50%;
		padding-top: 0;
		padding-bottom: 0;
	}
}
.about-img {
	position: relative;
	height: 100%;
	.content {
		position: absolute;
		top: 8rem;
		right: 0;
		min-width: 31rem;
		height: 14rem;
		padding: 4.6rem 4rem;
		background-color: $main-cl;
		color: $t-w-cl;
		font-weight: bold;
		// @include fz-36;
	}

	img {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		max-width: none;
		object-fit: cover;
	}
}
.about-content {
	padding-top: 22rem;
	padding-bottom: 25rem;
	font-size: 1.4rem;
	line-height: 1.6;
}
.about-btn {
	text-align: right;
	.main-btn {
		height: 4rem;
		line-height: 2rem;
		min-width: 13.4rem;
	}
}
@include max-media($bk-d-1200) {
	.about-content {
		padding: 15rem 0;
	}
}
@include max-media($bk-d-768) {
	.about {
		.col {
			width: 100%;
		}
	}
	.about-img {
		min-height: 40rem;
		img {
			width: 100%;
		}
	}
	.about-content {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
}
