.header {
	position: relative;
	width: 100%;
	z-index: 900;
	background-color: $bg-w-cl;
	transition: $t1 ease-in;
	box-shadow: 0 1px 1rem rgba($color: $bg-b-cl, $alpha: 0.2);
}
.header-inner {
	padding: 2rem 0;
	display: flex;
	align-items: center;
	> .logo {
		flex-shrink: 0;
		margin-right: 5rem;
	}
}
.header-compare {
	margin-left: 1.5rem;
	margin-right: auto;
	a {
		padding: 0.7rem 1.5rem;
		display: flex;
		align-items: center;
		font-size: 1.2rem;
		font-weight: bold;
		text-transform: uppercase;
		border-radius: 99rem;
		background-color: $third-cl;
		transition: $t1;
	}
	img {
		transition: $t1;
		margin-right: 0.5rem;
	}
	&:hover {
		a {
			background-color: $second-cl;
			color: $third-cl;
		}
		img {
			filter: brightness(0) invert(1);
		}
	}
}
.header-search {
	max-width: 22.6rem;
	.f-control:valid ~ .search-dropdown {
		@include visible;
	}
}
.header-ct {
	margin-left: 1.5rem;
	.main-btn {
		height: 4rem;
	}
}
.header__mobile {
	margin-left: 1.5rem;
	display: none;
	.hamburger-btn {
		margin-left: auto;
	}
}
@include max-media($bk-d-1600) {
	.header-inner {
		> .logo {
			margin-right: 3rem;
		}
	}
	.header-search > .search-form {
		display: none;
	}
}
@include max-media($bk-d-1200) {
	.header-inner {
		padding: 1rem 0;
	}
	.header__mobile {
		display: block;
	}
}
@include max-media($bk-d-992) {
	.header-compare {
		margin-left: 0;
	}
}
@include max-media($bk-d-768) {
	.header-inner {
		> .logo {
			width: 12rem;
			margin-right: 1rem;
		}
	}

	.header-ct {
		display: none;
	}
}
/* HEADER SCROLL */
.header.--fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	animation: fixedMenu $t2;
	@include min-media($bk-1200) {
		.header__list > li > a {
			padding-top: 2.9rem;
			padding-bottom: 2.9rem;
			&:before {
				bottom: 1.6rem;
			}
		}
	}
}
/* HEADER LIST */
.header__list-wrap {
	@include min-media($bk-1200) {
		.logo {
			display: none;
		}
	}
}
.header__list-wrap-mobile {
	display: none;
}
.header__list {
	display: flex;
	justify-content: center;
	align-items: center;
	> li {
		> a {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 3.9rem 1.8rem;
			transition: $t1 $cubic1;
			font-size: 1.6rem;
			@include min-media($bk-1200) {
				&:before {
					--s: 0;
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					bottom: 3.2rem;
					transform: scale(var(--s));
					transform-origin: center;
					width: 100%;
					height: 0.2rem;
					background-color: $main-cl;
					transition: $t1;
				}
			}
		}
		@include min-media($bk-1200) {
			&:hover {
				> a {
					color: $main-cl;
					&:before {
						--s: 1;
					}
				}
			}
		}
		// &.current-menu-item {
		// 	> a {
		// 		color: $main-cl;
		// 		&:before {
		// 			--s: 1;
		// 		}
		// 	}
		// }
		//chỉ hover trên laptop
	}
}
.prev-btn {
	display: none;
	align-items: center;
	width: 100%;
	font-size: 2.6rem;
	.icon {
		width: 4rem;
		height: 4rem;
		border-radius: 50%;
		background-color: #e4e7eb;
		color: $main-cl;
		margin-right: 1.5rem;
		@include mid-flex;
	}
}
.dropdown {
	position: relative;
	//hover in desktop

	> a {
		position: relative;
	}
	a {
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: $t1 $cubic1;
	}
	.fa.fa-angle-down {
		width: 2rem;
		height: 100%;
		transition: transform $t1;
		text-align: center;
		&.--active {
			transform: rotate(180deg);
		}
		@include max-media($bk-d-1200) {
			position: absolute;
			top: 0;
			right: 0;
			width: 4rem;
			&:before {
				@include mid;
			}
		}
	}
	@include min-media($bk-1200) {
		&:hover {
			> .sub-menu {
				--y: 0;
				@include visible;
			}
		}
		.fa.fa-angle-down {
			pointer-events: none;
		}
	}
}
.sub-menu {
	--x: -50%;
	--y: 2rem;
	position: absolute;
	left: 50%;
	top: 100%;
	width: 100%;
	min-width: 20rem;
	width: max-content;
	background-color: $bg-w-cl;
	box-shadow: 1rem 1rem 3rem rgba($color: $bg-b-cl, $alpha: 0.16);
	a {
		padding: 1.5rem;
		@include min-media($bk-1200) {
			&:hover {
				color: $second-cl;
				background-color: $third-cl;
			}
		}
	}
	.sub-menu {
		top: 0;
		left: 100%;
	}
	@include min-media($bk-1200) {
		transition: $t1;
		transform: translate(var(--x), var(--y));
		@include hidden;
	}
}

@include max-media($bk-d-1200) {
	//header list in mobile
	.header-inner {
		> * {
			z-index: 904;
		}
	}
	.header__list-wrap-desktop {
		display: none;
	}
	.header__list-wrap-mobile {
		display: block;
	}
	.header__list-wrap {
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		height: calc(var(--browser-vh, 1vh) * 100 - 8rem);
		transition: all $t1 $cubic1;
		z-index: 903;
		@include hidden;
		&.--active {
			@include visible;
		}
	}
	.header__list-inner {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 904;
		height: 100%;
		width: 100%;
		padding: 4rem 5rem;
		margin-top: 8rem;
		background-color: $bg-w-cl;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		transition: $t1 $cubic2;
	}
	.header__list {
		flex-grow: 1;
		width: 100%;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		overflow: hidden auto;
		// @include custom-scrollbar(0.3rem);
		> li {
			width: 100%;
			> a {
				padding: 1rem 1.5rem;
				font-size: 2.6rem;
				&:hover {
					border-color: $main-cl;
				}
			}
		}
		> .dropdown > .sub-menu-wrap > .sub-menu > ul {
			display: flex;
			flex-wrap: wrap;
			> li {
				width: calc(100% / 3 - 3rem);
				margin: 1.5rem;
				> a {
					font-weight: bold;
					padding-bottom: 2rem;
				}
			}
		}
	}
	.prev-btn {
		display: flex;
	}
	.dropdown {
		position: static;
		&.--show {
			.sub-menu {
				left: 0;
			}
		}
		.fa.fa-angle-down {
			transform: rotate(-90deg);
		}
	}
	.sub-menu {
		top: 0;
		left: 100%;
		z-index: 2;
		width: 100%;
		height: 100%;
		padding: 4rem 5rem;
		transition: $t1;
		overflow: hidden auto;
		box-shadow: none;
		@include custom-scrollbar(0.3rem);
		a {
			padding: 0.5rem 0;
		}
		.sub-menu {
			position: static;
			padding: 0;
			> ul {
				flex-direction: column;
			}
		}
		.fa.fa-angle-down {
			display: none;
		}
	}
}
@include max-media($bk-d-768) {
	.header__list-inner {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
		margin-top: 7.296rem;
	}
	.header__list-wrap {
		height: calc(var(--browser-vh, 1vh) * 100 - 7.296rem);
	}
	.header__list > .dropdown > .sub-menu-wrap > .sub-menu > ul > li {
		width: calc(50% - 3rem);
	}
	.sub-menu {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
		.dropdown {
			width: calc(50% - 3rem);
		}
	}
}
// @include max-media($bk-d-1200) {
// 	//header list in mobile
// 	.header__list-wrap-desktop {
// 		display: none;
// 	}
// 	.header__list-wrap-mobile {
// 		display: block;
// 	}
// 	.header__list-wrap {
// 		position: fixed;
// 		top: 0;
// 		right: 100%;
// 		width: 100%;
// 		height: calc(var(--browser-vh, 1vh) * 100);
// 		transition: all $t1 $cubic1;
// 		z-index: 903;
// 		&.--active {
// 			right: 0;
// 		}
// 	}

// 	.header__list-inner {
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		z-index: 904;
// 		height: 100%;
// 		width: 30rem;
// 		padding-top: 8rem;
// 		background-color: $bg-w-cl;
// 		display: flex;
// 		justify-content: flex-start;
// 		align-items: flex-start;
// 		flex-direction: column;
// 		transition: $t1 $cubic2;

// 		.logo {
// 			display: block;
// 			margin: 0 auto 3rem;
// 		}
// 		.header__mobile {
// 			position: absolute;
// 			top: 1.5rem;
// 			right: 1.5rem;
// 			width: 4rem;
// 			height: 4rem;
// 			border-radius: 99rem;
// 			border: 2px solid $main-cl;
// 			.hamburger-btn {
// 				margin: 0;
// 				@include mid;
// 				span {
// 					background-color: $main-cl;
// 				}
// 			}
// 		}
// 	}
// 	.header__list {
// 		flex-grow: 1;
// 		width: 100%;
// 		justify-content: flex-start;
// 		align-items: flex-start;
// 		flex-direction: column;
// 		overflow: hidden auto;
// 		@include custom-scrollbar(0.3rem);
// 		> li {
// 			width: 100%;
// 			> a {
// 				padding: 1rem 1.5rem;
// 				border-bottom: 1px solid $second-cl;
// 				&:hover {
// 					border-color: $main-cl;
// 				}
// 			}
// 			&.current-menu-item > a {
// 				background-color: $main-cl;
// 				color: $t-w-cl;
// 				border-color: $main-cl;
// 			}
// 		}
// 	}
// 	.sub-menu {
// 		position: relative;
// 		display: none;
// 		left: 0 !important;
// 		top: 0 !important;
// 		width: 100%;
// 		box-shadow: none;
// 		a {
// 			padding: 1rem 1.5rem;
// 			padding-left: 3rem;
// 			border-bottom: 1px solid $second-cl;
// 			&:hover {
// 				// color: $t-w-cl;
// 				border-color: $main-cl;
// 			}
// 		}
// 		.sub-menu a {
// 			padding-left: 4.5rem;
// 		}
// 		.sub-menu .sub-menu a {
// 			padding-left: 6rem;
// 		}
// 	}
// }
// @include max-media($bk-d-768) {
// 	body {
// 		transition: $t1 $cubic1;
// 		&.menu-in {
// 			margin: 0 -75vw 0 75vw;
// 		}
// 	}
// 	.header__list-wrap {
// 		// right: 0;
// 		// margin-top: 100vh;
// 		&.--active {
// 			// margin-top: 0;
// 		}
// 	}
// 	.header__list-inner {
// 		width: 75vw;
// 	}
// }
/* HEADER LIST - END */
/*BIG DROPDOWN*/
@include min-media($bk-1200) {
	.big-dropdown.dropdown {
		position: static;
		> a {
			position: static;
			&:before {
				display: none;
			}
		}
		&:hover {
			.big-sub-menu {
				// margin-top: 0;
				// pointer-events: auto;
				// transform: translateY(0);
				transition: all $t1 ease-in-out, margin 0s 0s ease-in-out;
				// @include visible;
			}
		}
	}
	.mega-menu-item.mega-toggle-on .mega-sub-menu {
		opacity: 1 !important;
		visibility: visible !important;
		.item-product-hover {
			display: flex;
		}
		> li .big-sub-menu {
			@include visible;
		}
	}
	.mega-sub-menu {
		background: transparent !important;
		max-height: 90vh !important;
		height: 80vh !important;
		padding-top: 2rem !important;
		.item-product-hover {
			display: none;
		}
		> li {
			padding-left: 0 !important;
			padding-right: 0 !important;
			height: 100% !important;
		}
	}
	.big-sub-menu {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin-top: 1rem;
		padding-top: 4rem;
		background-color: $bg-w-cl;
		transition: all $t1 ease-in-out, margin 0s 0.2s ease-in-out;
		box-shadow: 1rem 1rem 3rem rgba($color: $bg-b-cl, $alpha: 0.16);

		// transform: translateY(2rem);
		// pointer-events: none;
		@include hidden;
	}
	.dropdown-wrap {
		margin: 0 auto;
		padding: 0 $padding;
		width: $container-width;
		max-width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		.c-pd.c-pd-hor {
			margin-top: 3rem;
		}
		.c-pd-seemore a {
			color: $main-cl;
		}
	}
	.dropdown-col {
		overflow: hidden;
		&:nth-child(1) {
			width: 82.5rem;
		}
		&:nth-child(2) {
			width: 49.5rem;
		}
		a {
			color: $second-cl;
			&:hover {
				color: $main-cl;
			}
		}
		> a {
			font-weight: bold;
			@include fz-36;
			.fa {
				display: none;
			}
		}
	}
	.dropdown-list {
		display: flex;
		flex-wrap: wrap;
	}
	.dropdown-item {
		width: calc(100% / 3);
		margin-top: 3rem;
		> div {
			display: flex;
			align-items: flex-start;
			> a {
				width: 9rem;
				height: 7rem;
				align-items: flex-start;
				img {
					margin-left: auto;
				}
			}
			> div {
				padding-left: 3rem;
				width: calc(100% - 9rem);
				flex-grow: 1;
				a:first-child {
					font-weight: bold;
					margin-bottom: 2rem;
				}
			}
		}
	}
	.nhut-menu-category.nhut-menu-category {
		.c-pd-seemore {
			margin-top: 1rem;
		}
		p {
			margin-bottom: 0 !important;
		}
		li {
			line-height: 1;
		}
	}
}
@media screen and(min-width:1200px) and (max-width: 1599px) {
	.mega-sub-menu {
		height: 90vh !important;
	}
	.big-sub-menu {
		padding: 1.5rem 0;
	}
	.dropdown-wrap {
		.dropdown-item {
			margin-top: 1.5rem;
			> div > div {
				a:first-child {
					margin-bottom: 1rem;
				}
			}
		}
		.c-pd.c-pd-hor {
			margin-top: 1.5rem;
		}
	}
}
/*BIG DROPDOWN - END*/
