.c-pd {
	&:hover {
		.c-pd-img {
		}

		.c-pd-tools {
			transform: translateY(0);
			> div {
				transform: translateY(0);
			}
		}
	}
}
.c-pd-hor {
	display: flex;
	width: 100%;
	.c-pd-img {
		width: 20rem;
	}
	.c-pd-title {
		.main-title a {
			color: $main-cl;
		}
	}
	.logo {
		display: none;
	}
	.c-pd-tools {
		justify-content: center;
	}
	.c-pd-content {
		padding-left: 2.5rem;
		width: calc(100% - 20rem);
		flex-grow: 1;
	}
	.c-pd-desc {
		font-size: 1.2rem;
		li:before {
			font-size: 1.4rem;
		}
	}
}
.c-pd-img {
	position: relative;
	height: 20rem;
	// padding-bottom: 20rem;
	overflow: hidden;
	> a {
		position: absolute;
		display: block;
		height: 100%;
		width: 100%;
		> img {
			--x: -50%;
			--y: -50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(var(--x), var(--y));
			width: auto;
			height: auto;
			max-height: 100%;
			transition: $t1;
		}
	}
}
.c-pd-tools {
	position: absolute;
	z-index: 2;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	transform: translateY(100%);
	transition: $t1;
	pointer-events: none;
	// background-color: $bg-w-cl;
	// @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	// 	background-color: rgba($color: $bg-w-cl, $alpha: 0.2);
	// 	-webkit-backdrop-filter: blur(5px);
	// 	backdrop-filter: blur(5px);
	// }
	> div {
		transform: translateY(100%);
		transition: transform $t1;
		pointer-events: auto;
	}
	.logo {
		display: none;
		max-width: 10rem;
		margin-right: auto;
		transition-delay: 0.1s;
	}
	.tool {
		width: 4rem;
		height: 4rem;
		line-height: 4rem;
		border-radius: 99rem;
		box-shadow: inset 0.5rem 0.5rem 1rem #dfe3ea,
			inset -0.5rem -0.5rem 1rem #faffff;
		text-align: center;
		a {
			display: block;
		}
		&:hover {
			box-shadow: inset -0.5rem -0.5rem 1rem #dfe3ea,
				inset 0.5rem 0.5rem 1rem #faffff;
		}
		~ .tool {
			margin-left: 1rem;
		}
		&:nth-child(2) {
			transition-delay: 0.15s;
		}
		&:nth-child(3) {
			transition-delay: 0.2s;
		}
		&:nth-child(4) {
			transition-delay: 0.25s;
		}
	}
}
.c-pd-compare {
	display: inline-block;
	margin: 2rem 0;
	a {
		padding: 0.7rem 1.5rem;
		display: flex;
		align-items: center;
		font-size: 1.2rem;
		font-weight: bold;
		text-transform: uppercase;
		border-radius: 99rem;
		background-color: $third-cl;
		transition: $t1;
	}
	img {
		transition: $t1;
		margin-right: 0.5rem;
	}
	&:hover {
		a {
			background-color: $second-cl;
			color: $third-cl;
		}
		img {
			filter: brightness(0) invert(1);
		}
	}
}
.c-pd-title {
	margin-bottom: 1rem;
	div {
		display: flex;
		align-items: center;
		justify-content: space-between;
		> *:first-child {
			width: 50%;
		}
		> *:last-child {
			width: 49%;
			text-align: right;
		}
		> *:only-child {
			width: 100%;
			text-align: left;
		}
	}
	p {
		font-size: 1.4rem;
		@include overtext(1);
	}
	.main-title {
		@include overtext(1);
		&:hover a {
			color: $second-cl;
		}
	}
	.tt p {
		font-size: 1.6rem;
	}
	.price {
		color: $main-cl;
	}
	.price-percent {
		font-size: 1.2rem;
		color: $second-cl;
	}
	.price-del {
		font-size: 1.2rem;
		text-decoration: line-through;
		color: rgba($color: $second-cl, $alpha: 0.6);
	}
}
.c-pd-desc {
	li {
		&.--selected {
			color: #c2d741;
		}
	}
	p {
		position: relative;

		&:before {
			content: '\f05d ';
			display: inline-block;
			font-family: FA;
			font-size: 1.8rem;
			margin-right: 0.8rem;
		}
		@include overtext(2);
	}
}
.c-pd-seemore {
	margin-top: 2.5rem;
	a {
		justify-content: flex-start;
		font-weight: bold;
		font-size: 1.4rem;
		color: $main-cl;
	}
	span {
		position: relative;
		display: inline-block;
		margin-left: 1.5rem;
		width: 4rem;
		height: 4rem;
		text-align: center;
		border-radius: 99rem;
		background-color: #f5f7f9;
		overflow: hidden;
		img {
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			object-fit: cover;
			z-index: 2;
			transition: $t1;
		}
	}
	.df {
		left: 50%;
	}
	.hv {
		left: -100%;
	}
	&:hover {
		.df {
			left: 150%;
		}
		.hv {
			left: 50%;
		}
	}
}
@include max-media($bk-d-768) {
	.c-pd-img {
		margin-bottom: 5.4rem;
		overflow: visible;
	}
	.c-pd-tools {
		bottom: -5.4rem;
		transform: translateY(0);
		> div {
			transform: translateY(0);
		}
	}
}
