html {
	.mfp-bg {
		z-index: 999998;
	}
	.mfp-wrap {
		z-index: 999999;
	}
}
.mfp-zoom-in {
	.mfp-content {
		opacity: 0;
		transition: all 0.2s ease-in-out;
		transform: scale(0.8);
	}
	&.mfp-bg {
		opacity: 0;
		transition: all 0.3s ease-out;
	}
	&.mfp-ready {
		.mfp-content {
			opacity: 1;
			transform: scale(1);
		}
		&.mfp-bg {
			opacity: 0.8;
		}
	}
	&.mfp-removing {
		.mfp-content {
			transform: scale(0.8);
			opacity: 0;
		}
		&.mfp-bg {
			opacity: 0;
		}
	}
}
.mfp-container {
	padding: 1.5rem;
	overflow-y: auto;
	@include custom-scrollbar(2px);
}
video {
	width: 100%;
}
.mfp-content {
	max-width: 90rem;
	.mfp-close {
		color: $main-cl;
		transition: 0.3s;
		right: 0;
	}
	.popup-wrap {
		@include mid-flex;
		> div {
			width: 100%;
		}
	}
}
.stop-scrolling {
	position: relative;
	overflow: hidden;
	touch-action: none;
	-webkit-overflow-scrolling: auto;
}
.popup-wrap {
	display: none;
}
.swal2-popup.swal2-show {
	font-size: 1.4rem;
}
.swal2-shown {
	padding-right: 0 !important;
}
#popup-video {
	.mfp-close {
		top: -44px;
	}
}
#popup-cart-detail {
	.cart {
		position: static;
		width: 100%;
	}
	.cart-wrap {
		position: static;
		width: 100%;
		&:before {
			display: none;
		}
	}
	.left {
		width: 50%;
	}
	.right {
		width: 50%;
	}

	.cart-left,
	.cart-form-wrap {
		padding-top: 4.4rem;
	}
	.cart-left {
		background-color: transparent;
	}
	.cart-form-wrap {
		background-color: #f6f8fa;
	}
	.f-control {
		background-color: $bg-w-cl;
	}
	.cart-list {
		max-height: 60.4rem;
	}
}
