.social-mobile {
	width: 100%;
	padding: 1.5rem;
	justify-content: flex-start;
	display: none;
	@include max-media($bk-d-1200) {
		display: flex;
	}
	li {
		margin: 0 0.25rem;
		a {
			display: block;
			width: 3rem;
			height: 3rem;
			text-align: center;
			line-height: 3rem;
			background-color: $main-cl;
			color: $t-w-cl;
			border-radius: 0.5rem;
			padding: 0;
			transition: $t1;
			&:hover {
				color: $main-cl;
				box-shadow: inset 0.5rem 0.5rem 1rem #dfe3ea,
					inset -0.5rem -0.5rem 1rem #faffff;
				background-color: transparent;
			}
		}
	}
}
